@import "../../design-tokens/main.scss";

.custom-button {
  background-color: $color-base-primary;
  border: none;
  padding: 1rem 1.5rem;
  border-radius: 7px;
  color: $color-white;
  font-size: 1.6rem;
  font-weight: 500;
  outline: 2px solid transparent;
  outline-offset: 2px;
  transition: 0.2s background-color;

  &:hover {
    background-color: $color-base-primary-light;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 3px rgba($color-outline-blue, 0.45);
  }
}
