/// Colors
$color-base-primary: #5850ec;
$color-base-primary-light: #6875f5;
$color-base-primary-dark: #5145cd;

$color-outline-blue: #b4c6fc;

$color-black: #000000;
$color-white: #ffffff;
$color-grey-light: #9ba0a9;
$color-grey-med: #6b7294;
$color-grey-dark: #161e2e;

// Font
